Repository mt-satak/money_management: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, prettier-frontend, prettier-yaml-json

.pre-commit-config.yaml:

# ==============================================
# Pre-commit hooks configuration
# Money Management Application
# ==============================================

repos:
  # Basic hooks for general file cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: mixed-line-ending
        name: Fix mixed line endings
        args: ["--fix=lf"]

  # Go-specific formatting
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: scripts/format-go.sh
        language: system
        files: '\.go$'
        pass_filenames: true
        description: Format Go code using gofmt

  # Frontend formatting using Prettier
  - repo: local
    hooks:
      - id: prettier-frontend
        name: Prettier (Frontend)
        entry: scripts/format-frontend.sh
        language: system
        files: '^frontend/.*\.(ts|tsx|js|jsx|css|scss|json|html|md)$'
        pass_filenames: true
        description: Format frontend files using local Prettier

  # YAML/JSON formatting using local Prettier
  - repo: local
    hooks:
      - id: prettier-yaml-json
        name: Prettier (YAML/JSON)
        entry: scripts/format-yaml-json.sh
        language: system
        files: '\.(yaml|yml|json)$'
        exclude: '^frontend/(package-lock\.json|dist/)|node_modules/'
        pass_filenames: true
        description: Format YAML and JSON files using local Prettier

# Configuration
default_stages: [pre-commit]
fail_fast: false

fix: Vitest coverage-v8 dependency追加によるCI修正 (#3)
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, prettier-yaml-json

hotfix: docker-compose → docker compose コマンド修正 (#4)
  .github/workflows/main-tests.yml
Due: prettier-yaml-json

fix: PR workflow重複実行の修正
  .github/workflows/pr-tests.yml
Due: prettier-yaml-json

fix: PR workflow重複実行の修正 (#5)
  .github/workflows/pr-tests.yml
Due: prettier-yaml-json

test: PR workflow重複修正の検証 (pre-commit formatted)
  frontend/README.md
Due: prettier-frontend

Revert "test: PR workflow重複修正の検証 (pre-commit formatted)"
  frontend/README.md
Due: prettier-frontend

fix: Backend TestsのDB初期化・重複エラー修正 (formatted)
  backend/internal/database/test_database.go
Due: go-fmt

fix: Backend TestsのDB初期化・重複エラー修正 (formatted) (#7)
  backend/internal/database/test_database.go
Due: go-fmt

GitHub Actions go.sum キャッシュエラー修正
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
Due: prettier-yaml-json

Copilotフィードバック対応: go.mod/go.sum の正しいパス修正
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
Due: prettier-yaml-json

GitHub Actions go.sum キャッシュエラー修正 (#8)
  .github/workflows/main-tests.yml
Due: prettier-yaml-json

🔍 GitHub Actions パス構造問題の徹底調査
  .github/workflows/debug-paths.yml
  .github/workflows/main-tests.yml
Due: prettier-yaml-json

GitHub Actions go.sum キャッシュエラー修正 (#8)
  .github/workflows/main-tests.yml
  .github/workflows/verify-gosum-fix.yml
Due: prettier-yaml-json

GitHub Actions go.sum キャッシュエラー修正 (#8)
  .github/workflows/main-tests.yml
  .github/workflows/verify-gosum-fix.yml
  frontend/src/test/components/BillsListPage.test.tsx
  frontend/src/test/integration/api-error-handling.test.tsx
Due: prettier-frontend, prettier-yaml-json

フロントエンドテスト: ボタンセレクター堅牢化 (#11)
  .github/workflows/verify-gosum-fix.yml
  frontend/src/test/components/BillsListPage.test.tsx
  frontend/src/test/integration/api-error-handling.test.tsx
Due: prettier-frontend, prettier-yaml-json

検証完了: 一時的な検証ワークフローを削除
  .github/workflows/verify-gosum-fix.yml
Due: prettier-yaml-json

✅ Go.sum修正の最終検証 (#9)
  .github/workflows/verify-gosum-fix.yml
Due: prettier-yaml-json

フロントエンドテスト: ローディング状態待機ロジック修正
  frontend/src/test/components/BillsListPage.test.tsx
  frontend/src/test/integration/api-error-handling.test.tsx
Due: prettier-frontend

フロントエンドテスト: ローディング状態待機ロジック修正 (#12)
  frontend/src/test/components/BillsListPage.test.tsx
  frontend/src/test/integration/api-error-handling.test.tsx
Due: prettier-frontend

fix: E2Eテスト用フロントエンドサーバー起動処理を追加
  .github/workflows/main-tests.yml
Due: prettier-yaml-json

fix: E2Eテスト用フロントエンドサーバー起動処理を追加 (#13)
  .github/workflows/main-tests.yml
Due: prettier-yaml-json

fix: バックエンドテストの短縮モード判定を修正
  backend/internal/testing/environment_test.go
Due: go-fmt

fix: GitHub Actions CI テストの包括的修正
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
  backend/internal/testing/environment_test.go
Due: go-fmt, prettier-yaml-json

fix: PR testsのデータベース接続設定を正しく修正
  .github/workflows/pr-tests.yml
Due: prettier-yaml-json

fix: GitHub Actions CI テストの包括的修正 (#15)
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
  backend/internal/testing/environment_test.go
Due: go-fmt, prettier-yaml-json

fix: main testsのデータベース設定をGitHub Actions MySQL serviceに完全統一
  .github/workflows/main-tests.yml
Due: prettier-yaml-json

fix: main CI データベース接続エラー修正とテスト統一化 (#16)
  .github/workflows/main-tests.yml
Due: prettier-yaml-json

fix: 統合テスト完全安定化 - 非並列実行とリトライ機能強化
  .github/workflows/main-tests.yml
  backend/internal/database/test_database.go
Due: go-fmt, prettier-yaml-json

fix: 統合テスト完全安定化 - データベース競合エラー解決 (#18)
  .github/workflows/main-tests.yml
  backend/internal/database/test_database.go
Due: go-fmt, prettier-yaml-json

fix: データベース初期化競合とテーブル不整合エラーを解決
  backend/internal/database/test_database.go
Due: go-fmt

fix: データベース初期化競合とテーブル不整合エラーを解決 (#19)
  backend/internal/database/test_database.go
Due: go-fmt

fix: SHOW TABLES LIKE のスキャンエラーを解決
  backend/internal/database/test_database.go
Due: go-fmt

fix: SHOW TABLES LIKE のスキャンエラーを解決 (#20)
  backend/internal/database/test_database.go
Due: go-fmt

fix: データベース接続失敗時のpanicとテスト終了コード問題を解決
  backend/internal/database/connection_pool_test.go
  backend/internal/handlers/auth_test.go
  backend/internal/testing/environment_test.go
Due: go-fmt

fix: データベース接続失敗時のpanicとテスト終了コード問題を解決 (#21)
  backend/internal/database/connection_pool_test.go
  backend/internal/handlers/auth_test.go
  backend/internal/testing/environment_test.go
Due: go-fmt

fix: データベース接続失敗時のnil pointer panicエラーを解決
  backend/internal/database/connection_pool_test.go
  backend/internal/handlers/lightweight_test.go
  backend/internal/testing/environment_test.go
Due: go-fmt

fix: CI/CD の全問題を解決 - パニックエラー、脆弱性チェック、キャッシュ、E2E
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
  .govulncheck.yml
  backend/internal/database/test_database.go
Due: go-fmt, prettier-yaml-json

fix: データベース接続失敗時のnil pointer panicエラーを解決 (#22)
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
  .govulncheck.yml
  backend/internal/database/connection_pool_test.go
  backend/internal/database/test_database.go
  backend/internal/handlers/lightweight_test.go
  backend/internal/testing/environment_test.go
Due: go-fmt, prettier-yaml-json

feat: CI簡素化 - mainCIを削除しPRテストに集約
  .github/workflows/main-tests.yml
Due: prettier-yaml-json
