Repository mt-satak/money_management: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, prettier-frontend

go-fmt:
  name: Go Format
  entry: bash -c 'for file in "$@"; do gofmt -w "$file"; done' --
  language: system
  pass_filenames: true
  description: Format Go code using gofmt

prettier-frontend:
  name: Prettier (Frontend)
  entry: bash -c 'files=(); for file in "$@"; do files+=("${file#frontend/}"); done; if [ ${#files[@]} -gt 0 ]; then cd frontend && npx prettier --write "${files[@]}"; fi' --
  language: system
  pass_filenames: true
  ...

pre-commitフック：複雑なbashコマンドを専用スクリプトに分離
  .pre-commit-config.yaml
  scripts/format-frontend.sh
  scripts/format-go.sh
Due: none

pre-commitスクリプト：エラーハンドリングと可用性チェックを強化
  scripts/format-frontend.sh
  scripts/format-go.sh
Due: none

pre-commitスクリプト：実行権限チェックとツール一貫性を向上
  scripts/format-frontend.sh
  scripts/format-go.sh
Due: none

fix: pre-commitコンテキストでの実行権限チェック問題を修正
  scripts/format-frontend.sh
  scripts/format-go.sh
Due: none

fix: Prettier実行時の--no-installフラグを削除して自動インストールを有効化
  scripts/format-frontend.sh
Due: none

fix: シェバンを#!/usr/bin/env bashに変更してクロスプラットフォーム対応
  scripts/format-frontend.sh
  scripts/format-go.sh
Due: none

fix: echoステートメントで変数に引用符を追加してファイル名の安全性を向上
  scripts/format-frontend.sh
  scripts/format-go.sh
Due: none

Update scripts/format-frontend.sh
  scripts/format-frontend.sh
Due: none

pre-commitフックによる自動コードフォーマット機能の追加 (#1)
  .gitignore
  .pre-commit-config.yaml
  Makefile
  backend/.dockerignore
  backend/test-seed-data.sql
  backend/testconfig/config.go
  database/init/01_init.sql
  frontend/.dockerignore
  frontend/src/index.css
  scripts/format-frontend.sh
  scripts/format-go.sh
  scripts/generate-ssl-cert.sh
Due: go-fmt, prettier-frontend

feat: Phase 2 GitHub Actions CI/CD パイプライン実装
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
Due: none

fix: GitHub Actions ワークフロー設定の修正
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
Due: none

fix: GitHub Actions CI/CDの全面修正
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
  .pre-commit-config.yaml
  frontend/package.json
  scripts/format-frontend.sh
Due: prettier-frontend

fix: フロントエンドテスト失敗の修正
  frontend/src/test/hooks/useAuth-routing.test.tsx
  frontend/src/test/routing/navigation.test.tsx
Due: prettier-frontend

E2Eスモークテストの修正とワークフロー改善
  .github/workflows/pr-tests.yml
  backend/internal/database/connection_pool_optimizer.go
  backend/internal/database/connection_pool_test.go
  backend/internal/database/test_database.go
  backend/internal/handlers/auth_test.go
  backend/internal/testing/environment_test.go
  frontend/playwright.config.ts
  frontend/tests/e2e/basic-ui-test.spec.ts
Due: go-fmt, prettier-frontend

testconfigパッケージ追加とバックエンドテスト修正
  backend/go.mod
  backend/internal/database/connection_pool_test.go
  backend/internal/database/database_test.go
  backend/testconfig/config.go
  backend/testconfig/testconfig.go
Due: go-fmt

Apply Prettier auto-formatting from pre-commit hook
  docker-compose.dev.yml
  docker-compose.https.yml
  docker-compose.production.example.yml
  docker-compose.secure.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/postcss.config.js
  frontend/tailwind.config.js
  frontend/tests/e2e/README.md
  frontend/tests/e2e/complete-user-flow.spec.ts
  frontend/tests/e2e/navigation-fixes.spec.ts
  frontend/tests/e2e/payer-bills-display.spec.ts
  frontend/tests/e2e/test-suite-optimization.spec.ts
  frontend/tests/e2e/visual-regression.spec.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  openapi.json
  openapi.yaml
Due: prettier-frontend

Frontend Tests修正: 複数要素対応のテキストマッチング
  frontend/src/test/routing/navigation.test.tsx
Due: prettier-frontend

fix: PlaywrightのCI設定修正 - unsupported --no-sandbox引数を削除
  frontend/playwright.config.ts
Due: prettier-frontend

fix: WebKit/Mobile Safari対応 - disable-setuid-sandboxオプション削除
  frontend/playwright.config.ts
Due: prettier-frontend

fix: Puppeteer固有オプション削除 - disable-dev-shm-usageを削除
  frontend/playwright.config.ts
Due: prettier-frontend

fix: WebKit非対応オプション削除 - disable-extensionsを削除
  frontend/playwright.config.ts
Due: prettier-frontend

fix: ブラウザ別launchOptions対応 - WebKit非対応オプションを分離
  frontend/playwright.config.ts
Due: prettier-frontend

fix: WebKit完全互換対応 - 全てのカスタムlaunchOptionsを削除
  frontend/playwright.config.ts
Due: prettier-frontend

fix: 並列テストDB接続ポート修正 - 3307から3306に統一
  backend/internal/database/parallel_test_database.go
Due: go-fmt

fix: MySQL権限問題解決とテスト安定化対応
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
  backend/internal/database/parallel_test_database.go
  backend/internal/database/test_database.go
  backend/internal/middleware/auth.go
Due: go-fmt

fix: ビルドエラーとMySQL認証問題の修正
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
  backend/internal/database/parallel_test_database.go
  backend/internal/database/test_database.go
  backend/internal/middleware/auth.go
Due: go-fmt

fix: JWT関数呼び出しのビルドエラー修正
  backend/internal/handlers/auth.go
  backend/internal/handlers/logout.go
  backend/internal/handlers/logout_test.go
  backend/internal/middleware/auth_test.go
  backend/internal/services/auth_service.go
Due: go-fmt

fix: 残存JWT単一値代入の修正
  backend/internal/handlers/logout.go
  backend/internal/middleware/auth_test.go
Due: go-fmt

fix: MySQLデッドロック対応とテスト競合回避
  backend/internal/handlers/bill.go
  backend/internal/handlers/bill_test.go
Due: go-fmt

fix: 動的テストデータのアサーション修正
  backend/internal/handlers/bill_test.go
Due: go-fmt

fix: MySQL ENUM制約テストのデッドロック対策
  backend/internal/testing/environment_test.go
Due: go-fmt

fix: Copilotレビュー指摘事項対応
  backend/internal/database/test_database.go
  backend/main.go
Due: go-fmt

fix: pre-commit hookによるコード整形とワークフロー調整
  backend/internal/config/env.go
  backend/internal/database/connection_pool_optimizer.go
  backend/internal/database/connection_pool_test.go
  backend/internal/database/inmemory_test_database.go
  backend/internal/database/parallel_test_database.go
  backend/internal/database/test_database.go
  backend/internal/testing/config.go
  backend/testconfig/testconfig.go
Due: go-fmt

fix: 線形バックオフを指数バックオフに修正
  backend/internal/handlers/bill.go
  backend/internal/testing/config.go
Due: go-fmt

fix: Copilotレビュー指摘事項の包括的修正
  backend/internal/database/test_database.go
  backend/internal/handlers/bill.go
  backend/internal/handlers/bill_test.go
  backend/internal/testing/config.go
  backend/internal/testing/factory.go
Due: go-fmt

fix: Prettier npm 429エラーの修正とローカル化対応
  .github/workflows/main-tests.yml
  .github/workflows/pr-tests.yml
  .pre-commit-config.yaml
  frontend/package.json
  scripts/format-frontend.sh
  scripts/format-yaml-json.sh
Due: prettier-frontend

fix: sync package-lock.json with package.json for frontend
  frontend/package-lock.json
Due: prettier-frontend

fix: Vitest coverage-v8 dependency追加によるCI修正
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend

fix: docker-compose → docker compose コマンド修正
  .github/workflows/main-tests.yml
Due: none

Path conditions:
  go-fmt: any of: \.go$
  prettier-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|scss|json|html|md)$
